<div class="container h-100" style="background-color:powderblue;">
<div class="row h-100 justify-content-center align-items-center">
<div class="col-10 col-md-8 col-lg-6">
<h2> Create Account Form-2</h2>
<% if(@user_details!= nil) %>
<% if @user_details.errors.any? %>
  <div class="alert alert-warning">
        <ul>
        <% @user_details.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
        </ul>
  </div>
<% end %>
<% end %>
<%=form_tag '/user_details/create', method: :post do%>
 
 <div class="form-group">
  
  <%= text_field_tag :bank_account_no, nil, :required => true, :placeholder => 'bank account no'%>
 </div>
 <div class="form-group">
  
  <%= text_field_tag :ifsc, nil, :required => false, :placeholder => 'ifsc'%>
 </div>
 <div class="form-group">
  
  <%= number_field_tag :swift_no, nil, :required => false, :placeholder => 'swift'%>
 </div>
 
<%= submit_tag 'Submit', class: "btn btn-primary"%>
<%end%>
</div>
</div>
</div>